# ignore it all to begin with
# *

# whitelist certain things
# !*/
# !.gitignore
# !*.json
# !*.py
# !*.md
# !*.txt

# final blacklist pass
# venv/
# __pycache__/



.idea/
venv/
*.sqlite3
*.log
src/*.sqlite3
src/*.backup
*.pyc
