body, html, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategrey;
}

html {
    font-family: sans-serif;
    color: #404040;
}

#header {
    padding: 2vh;
    background-color: white;
    color: black;
}

#inventory, #locations {
    padding: 1vh;
}

#inventory_lines, #location_lines {
    margin-top: 1vh;
    overflow: auto;
}

#location_lines {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns:  [col1-start] auto [col1-end gutter1-start] 10px [gutter1-end col2-start] auto [col2-end gutter2-start] 10px [gutter2-end col3-start] auto [col3-end gutter3-start] 10px [gutter3-end col4-start] auto [col4-end gutter4-start] 10px [gutter4-end col5-start] auto [col5-end];
    grid-template-rows: auto;
}

#location_lines div {
    padding: 1vh;
    color: black;
}


h3 {
    color: black;
}

#inventory_lines {
    color: whitesmoke;
}

hr {
    color: black;
    border-color: black;
    margin: 0;
}